<div class="centerDiv">
    <div class="container">
      <div class="authBlock">
        <h3>Reset Password</h3>
        <p>Please enter your email address to request a password reset.</p>
        <div class="">
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class=" flex-center">
          <button type="submit" class="btn-primary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)" style="margin-bottom: 10px;">
            Reset Password
          </button>
        </div>
      </div>
      <div class="flex-center">
        <span>Go back to <span class="redirect" routerLink="/sign-in">Log In</span></span>
      </div>
    </div>
  </div>